// =============================================================================
// > MODULES: TXT - COLLAPSABLE
// =============================================================================

.collapsable
    margin: 0
    margin-bottom: 20px
    margin-top: 10px
    overflow: hidden
    transition: height .5s ease
    border: 1px solid color(primary)

    // ==================================================
    // > HEADER
    // ==================================================
    &__header
        +font(24px 65px white bold)
        background: color(primary)
        height: 65px
        text-align: center
        position: relative
        box-sizing: border-box
        padding-left: 40px
        cursor: pointer
        z-index: 50
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        &::before
            +fa(chevron-right)
            +absolute(top 0 left 15px)
            transition: all .5s ease
        +screen(sm)
            +font(20px)
        +screen(xs)
            +font(18px left)



    // ==================================================
    // > CONTENT
    // ==================================================
    &__content
        box-sizing: border-box
        padding: 30px 20px
        &.bg-white
            background: white
        &.bg-lgry
            background: #f6f6f6


    // ==================================================
    // > STATES
    // ==================================================
    &.is-open &__header::before
        transform: rotate(90deg)
