Options +FollowSymLinks -MultiViews -Indexes

RewriteEngine On
RewriteBase /_/syltaen/syltaen-lite/

# On folder (trailing slashes), display html file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ public/html/$1.html
RewriteRule ^([^/]+)/([^/]+)/$ public/html/$1/$2.html

# On index, display index html file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ public/html/home.html

# Redirect non-trailing slashes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ $1/ [R=301,L]

# 301 Redirect from the .html to the nice version
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ $1/ [R=301,L]

# Custom 404 page
ErrorDocument 404 /_/syltaen/syltaen-lite/public/html/404.html