{
  "name": "Lite (Project)",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_fixed-width.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_fixed-width.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_fixed-width.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_default-states.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_default-states.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_default-states.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/font-awesome.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/font-awesome.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/font-awesome.css\"}"
    },
    {
      "path": "_2_scripts/app.coffee",
      "configJson": "{\"compiler-coffee\":{\"path\":\"_2_scripts/app.coffee\",\"bare\":false,\"mangle\":true,\"iced\":false},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_1_assets/js/app.min.js\"}"
    },
    {
      "path": "_2_scripts/_1_modules/form.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_1_modules/form.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_1_modules/form-dist.js\"}"
    },
    {
      "path": "_2_scripts/_1_modules/mobile.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_1_modules/mobile.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_1_modules/mobile-dist.js\"}"
    },
    {
      "path": "_2_scripts/_1_modules/parallax.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_1_modules/parallax.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_1_modules/parallax-dist.js\"}"
    },
    {
      "path": "_2_scripts/_1_modules/scrollnav.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_1_modules/scrollnav.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_1_modules/scrollnav-dist.js\"}"
    },
    {
      "path": "_2_scripts/_3_builders/modules.builder.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_3_builders/modules.builder.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"_1_assets/js/modules.min.js\"}"
    },
    {
      "path": "_2_scripts/_3_builders/vendors.builder.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_3_builders/vendors.builder.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"_1_assets/js/vendors.min.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/detect.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/detect.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/detect.min-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/jquery.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/jquery.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/jquery.min-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/jquery.waypoints.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/jquery.waypoints.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/jquery.waypoints.min-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/transit.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/transit.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/transit.min-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/waypoint.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/waypoint.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/waypoint-dist.js\"}"
    },
    {
      "path": "_1_assets/css/styles.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"_1_assets/css/styles.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"_1_assets/css/styles.min-dist.css\"}"
    },
    {
      "path": "_1_assets/js/app.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_1_assets/js/app.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_1_assets/js/app.min-dist.js\"}"
    },
    {
      "path": "_1_assets/js/modules.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_1_assets/js/modules.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_1_assets/js/modules.min-dist.js\"}"
    },
    {
      "path": "_1_assets/js/vendors.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_1_assets/js/vendors.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_1_assets/js/vendors.min-dist.js\"}"
    },
    {
      "path": "_3_styles/styles.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/styles.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_1_assets/css/styles.min.css\"}"
    },
    {
      "path": "_3_styles/_2_layouts/_base.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_2_layouts/_base.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_2_layouts/_base.css\"}"
    },
    {
      "path": "_3_styles/_2_layouts/_footer.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_2_layouts/_footer.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_2_layouts/_footer.css\"}"
    },
    {
      "path": "_3_styles/_2_layouts/_header.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_2_layouts/_header.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_2_layouts/_header.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/lists/_lists.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/lists/_lists.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/lists/_lists.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/gui/_backgrounds.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/gui/_backgrounds.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/gui/_backgrounds.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/gui/_images.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/gui/_images.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/gui/_images.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/txt/_links.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/txt/_links.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/txt/_links.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/txt/_quotes.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/txt/_quotes.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/txt/_quotes.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/txt/_titles.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/txt/_titles.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/txt/_titles.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/txt/_txt.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/txt/_txt.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/txt/_txt.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/_fonts.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/_fonts.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/_fonts.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/_keyframes.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/_keyframes.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/_keyframes.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/_mixins.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/_mixins.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/_mixins.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/_variables.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/_variables.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/_variables.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/animate.css",
      "configJson": "{\"compiler-css\":{\"path\":\"_3_styles/_1_setup/vendors/animate.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"_3_styles/_1_setup/vendors/animate-dist.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_api.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_api.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_api.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_driver-default.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_driver-default.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_driver-default.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_driver-flex.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_driver-flex.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_driver-flex.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_flexbox.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_flexbox.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_flexbox.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_functions.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_functions.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_functions.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_generate-mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_generate-mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_generate-mixins.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_gridle-flex.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_gridle-flex.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_gridle-flex.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_gridle.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_gridle.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_gridle.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_init.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_init.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_init.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_mixins.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_reset.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_reset.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_reset.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_settings-mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_settings-mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_settings-mixins.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_settings.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_settings.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_settings.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/gridle/_setup.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/gridle/_setup.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/gridle/_setup.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/slick/slick-theme.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/slick/slick-theme.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/slick/slick-theme.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/slick/slick.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/slick/slick.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/slick/slick.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_animated.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_animated.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_animated.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_bordered-pulled.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_bordered-pulled.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_bordered-pulled.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_core.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_core.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_core.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_icons.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_icons.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_icons.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_larger.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_larger.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_larger.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_list.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_list.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_list.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_mixins.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_path.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_path.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_path.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_rotated-flipped.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_rotated-flipped.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_rotated-flipped.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_stacked.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_stacked.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_stacked.css\"}"
    },
    {
      "path": "_3_styles/_1_setup/vendors/font-awesome/_variables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_1_setup/vendors/font-awesome/_variables.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_1_setup/vendors/font-awesome/_variables.css\"}"
    },
    {
      "path": "_2_scripts/_1_modules/addclassat.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_1_modules/addclassat.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_1_modules/addclassat-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/dropzone.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/dropzone.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/dropzone-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/hammer.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/hammer.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/hammer.min-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/prefixfree.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/prefixfree.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/prefixfree.min-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/prefixfree.viewport-units.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/prefixfree.viewport-units.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/prefixfree.viewport-units-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/select2-fr.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/select2-fr.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/select2-fr-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/select2.full.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/select2.full.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/select2.full-dist.js\"}"
    },
    {
      "path": "_2_scripts/_2_vendors/slick.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_2_scripts/_2_vendors/slick.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_2_scripts/_2_vendors/slick-dist.js\"}"
    },
    {
      "path": "_3_styles/_2_layouts/_home.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_2_layouts/_home.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_2_layouts/_home.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/forms/_dropzone.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/forms/_dropzone.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/forms/_dropzone.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/forms/_forms.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/forms/_forms.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/forms/_forms.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/forms/_select2.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/forms/_select2.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/forms/_select2.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/lists/_archive.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/lists/_archive.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/lists/_archive.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/navigation/_breadcrumbs.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/navigation/_breadcrumbs.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/navigation/_breadcrumbs.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/navigation/_pagenav.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/navigation/_pagenav.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/navigation/_pagenav.css\"}"
    },
    {
      "path": "_3_styles/_3_modules/tables/_tables.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_3_styles/_3_modules/tables/_tables.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_3_styles/_3_modules/tables/_tables.css\"}"
    },
    {
      "path": "_4_views/_base.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_4_views/_base.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"_4_views/_base.html\"}"
    },
    {
      "path": "_4_views/index.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_4_views/index.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"_4_views/index.html\"}"
    },
    {
      "path": "_2_scripts/_1_vendors.builder.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"_1_assets/js/vendors.min.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    },
    {
      "path": "_2_scripts/_2_modules.builder.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"_1_assets/js/modules.min.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    },
    {
      "path": "_4_views/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "views/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "styles/styles.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"src/css/styles.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "scripts/app.coffee",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"src/js/app.min.js\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-coffee-script\":{\"enabled\":true,\"iced\":false,\"bare\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true}}"
    },
    {
      "path": "scripts/modules.builder.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"src/js/modules.min.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    },
    {
      "path": "scripts/vendors.builder.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"src/js/vendors.min.js.map.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "_2_scripts",
      "_4_views",
      "styles/modules",
      "styles/layouts",
      "styles/assets",
      "styles/assets/vendors",
      "styles/assets/vendors/font-awesome"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "views/index.pug",
      "imports": [
        "views/templates/_base.pug"
      ]
    },
    {
      "path": "styles/styles.sass",
      "imports": [
        "styles/assets/vendors/font-awesome/font-awesome.scss",
        "styles/assets/vendors/gridle/_setup.scss",
        "styles/assets/vendors/slick/slick.scss",
        "styles/assets/vendors/slick/slick-theme.scss",
        "styles/assets/_fonts.sass",
        "styles/assets/_variables.sass",
        "styles/assets/_mixins.sass",
        "styles/assets/_keyframes.sass",
        "styles/layouts/_base.sass",
        "styles/layouts/_header.sass",
        "styles/layouts/_footer.sass",
        "styles/layouts/_home.sass",
        "styles/modules/gui/_backgrounds.sass",
        "styles/modules/gui/_images.sass",
        "styles/modules/txt/_txt.sass",
        "styles/modules/txt/_titles.sass",
        "styles/modules/txt/_links.sass",
        "styles/modules/txt/_quotes.sass",
        "styles/modules/navigation/_pagenav.sass",
        "styles/modules/navigation/_breadcrumbs.sass",
        "styles/modules/lists/_lists.sass",
        "styles/modules/lists/_archive.sass",
        "styles/modules/forms/_forms.sass",
        "styles/modules/forms/_select2.sass",
        "styles/modules/forms/_dropzone.sass",
        "styles/modules/tables/_tables.sass",
        "styles/assets/vendors/font-awesome/_variables.scss",
        "styles/assets/vendors/font-awesome/_mixins.scss",
        "styles/assets/vendors/font-awesome/_path.scss",
        "styles/assets/vendors/font-awesome/_core.scss",
        "styles/assets/vendors/font-awesome/_larger.scss",
        "styles/assets/vendors/font-awesome/_fixed-width.scss",
        "styles/assets/vendors/font-awesome/_list.scss",
        "styles/assets/vendors/font-awesome/_bordered-pulled.scss",
        "styles/assets/vendors/font-awesome/_animated.scss",
        "styles/assets/vendors/font-awesome/_rotated-flipped.scss",
        "styles/assets/vendors/font-awesome/_stacked.scss",
        "styles/assets/vendors/font-awesome/_icons.scss",
        "styles/assets/vendors/gridle/_reset.scss",
        "styles/assets/vendors/gridle/_gridle.scss",
        "styles/assets/vendors/gridle/_init.scss",
        "styles/assets/vendors/gridle/_driver-default.scss",
        "styles/assets/vendors/gridle/_flexbox.scss",
        "styles/assets/vendors/gridle/_settings.scss",
        "styles/assets/vendors/gridle/_functions.scss",
        "styles/assets/vendors/gridle/_settings-mixins.scss",
        "styles/assets/vendors/gridle/_mixins.scss",
        "styles/assets/vendors/gridle/_api.scss",
        "styles/assets/vendors/gridle/_generate-mixins.scss",
        "styles/assets/vendors/gridle/_default-states.scss"
      ]
    },
    {
      "path": "scripts/vendors.builder.js",
      "imports": [
        "scripts/vendors/jquery.min.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7887,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"]},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"replaceSegments\":[]},\"autoCompile\":false,\"compiler-javascript\":{\"mangle\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}