extends templates/_base

//- ==================================================
//- > CONTENT
//- ==================================================
block main
    .container.content
        p
            | Cette page n'existe pas <br>