//- =============================================================================
//- > VIEW : HOME
//- =============================================================================
extends templates/_base


//- ==================================================
//- > INTRO
//- ==================================================
block intro
    section.site-intro.home__intro: .container
        h1 Homepage

//- ==================================================
//- > SECTIONS
//- ==================================================
block sections
    section.site-section.md-padding-vertical.bg-white: .container
        a.button(href="404/") Page 404