extends templates/_base

//- =============================================================================
//- > MAIN
//- =============================================================================
block main-wrapper
    main.site-main.home(role="main")