doctype html

html(lang="fr")

    //- =============================================================================
    //- > HEAD
    //- =============================================================================
    head
        meta(charset="UTF-8")
        meta(name="description" content="")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ...
        link(href=asset("css/bundle.css") rel="stylesheet")
        block head


    //- =============================================================================
    //- > BODY
    //- =============================================================================
    body

        //- ==================================================
        //- > SITE
        //- ==================================================
        block site
            .site

                //- ==================================================
                //- > HEADER
                //- ==================================================
                block header
                    header(role="navigation").site-header
                        block header
                            nav.site-header__nav.container
                                a.site-header__brand(href=link("") rel="home") ...

                //- ==================================================
                //- > CONTENT
                //- ==================================================
                block main
                    main.site-main(role="main")
                        block main

                            //- ========== INTRO ========== -//
                            block intro
                                .site-intro
                                    .container
                                        h1 Une page


                            //- ========== ASIDE ========== -//
                            block aside
                                //- aside.site-aside


                            //- ========== CONTENT ========== -//
                            block sections


                //- ==================================================
                //- > FOOTER
                //- ==================================================
                block footer
                    footer.site-footer(role="contentinfo")
                        block footer


        //- ==================================================
        //- > MOBILE NAVIGATION
        //- ==================================================
        button.site-mobilenav__trigger
            span
            span
            span

        .site-mobilenav
            nav.site-mobilenav__nav

        script(src=asset("js/bundle.js"))
